@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~src/assets/partials/variables';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.content-row {
  margin: 0 auto;
  max-width: 1150px;
}

.page-title {
  color: $default-color;
  font-size: 48px;

  h2 {
    margin: 0 0 15px;
  }
}

.button-primary {
  background: $primary-color;
  color: $bg-white-color;
  text-transform: uppercase;
}
