@import '~src/assets/partials/variables';

.main-header {
  background: $bg-white-color;
  -moz-box-shadow: 0 0 4px 2px rgba(119, 119, 119, .62);
  -webkit-box-shadow: 0 0 4px 2px rgba(119, 119, 119, .62);
  box-shadow: 0 0 4px 2px rgba(119, 119, 119, .62);

  &__logo__img {
    max-width: 237px;
    margin-top: 5px;
  }
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0 0 0 30px;
  width: 100%;

  &__item {
    color: $table-header-color;
    display: inline-block;
    padding: 13px 5px;
    text-transform: uppercase;

    &__link {
      border-radius: inherit;
      padding: 13px 5px;
    }
  }

  &__item--current {
    a {
      border-bottom: 3px solid $primary-color;
      color: $default-color;
    }
  }

  &__item--logout {
    color: $primary-color;
    float: right;
  }
}
