<mat-toolbar class="main-header">
  <mat-toolbar-row class="content-row">
    <div class="main-header__logo">
      <a class="main-header__logo__link" href="/">
        <img class="main-header__logo__img" src="assets/imgs/logo.png" alt="Currency Exchange">
      </a>
    </div>

    <ul class="main-nav" *ngIf="menuAvailable">
      <li class="main-nav__item" [routerLinkActive]="['main-nav__item--current']">
        <a class="main-nav__item__link" mat-button [routerLink]="['currency/converter']">Currency Converter</a>
      </li>
      <li class="main-nav__item" [routerLinkActive]="['main-nav__item--current']">
        <a class="main-nav__item__link" mat-button [routerLink]="['currency/conversion-history']">View Conversion History</a>
      </li>
      <li class="main-nav__item main-nav__item--logout">
        <a class="main-nav__item__link" (click)="logout()" mat-button>Logout</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
