<section class="history content-row">
    <div class="page-title">
      <h2>Conversion history</h2>
    </div>
  
    <mat-table [dataSource]="histories" class="mat-elevation-z8">
      <ng-container class="history__row" matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.createdAt | date:'M/d/yy @ h:mm' }} </mat-cell>
      </ng-container>
    
      <ng-container class="history__row" matColumnDef="event">
        <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
        <mat-cell *matCellDef="let item"> Converted an amount of {{ item.amount }} from {{ item.from.currency }} to {{ item.to.currency }} </mat-cell>
      </ng-container>
    
      <ng-container class="history__row" matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell class="history__actions" *matCellDef="let item">
          <a class="history__actions__item history__actions__item__view" [routerLink]="['/currency/converter/', item.uuid]">
            <mat-icon class="history__actions__item__icon">remove_red_eye</mat-icon>
            View
          </a>
          <a class="history__actions__item history__actions__item__delete" href="#" (click)="deleteCurrency(item.uuid); false;">
            <mat-icon class="history__actions__item__icon">delete_forever</mat-icon>
            Delete from history
          </a>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
  