@import '~src/assets/partials/variables';

.history {
  .page-title {
    margin: 40px 0;
  }

  .mat-header-cell {
    font-size: 15px;
  }

  .mat-row:hover {
    .history__actions__item {
      display: block;
    }
  }

  &__actions {
    font-size: 15px;

    &__item {
      display: none;
      text-decoration: none;

      &__icon {
        float: left;
        font-size: 19px;
        margin-top: -1px;
      }
    }

    &__item__view {
      color: $primary-color;
      margin-right: 35px;
    }

    &__item__delete {
      color: $warm-color;
    }
  }
}
