$primary-color: #009688;
$accent-color: #94c720;
$warm-color: #c70d38;
$default-color: #404040;
$table-header-color: #8d8d8d;
$light-color: #d7d7d7;
$bg-white-color: #fff;
$bg-main-color: #f2f2f2;
$alert-success-color: #155724;
$bg-alert-success: #d4edda;
$alert-danger-color: #721c24;
$bg-alert-danger: #f8d7da;
