<section class="login">
  <div class="page-title">
    <h2>Login</h2>
  </div>

  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="login__form__field">
      <input matInput formControlName="username" placeholder="Username">
      <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login__form__field">
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="loginForm.hasError('password') && !loginForm.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button type="submit" class="login__form__button button-primary" mat-stroked-button>Login</button>
  </form>
</section>
