<mat-toolbar *ngIf="message" class="wrapper-message wrapper-message--{{ message.type }} content-row">
  <span>{{ message.text }}</span>
  <span class="fill-remaining-space"></span>
  <a href="#" class="wrapper-message__close" (click)="removeMessage(); false"><mat-icon>close</mat-icon></a>
</mat-toolbar>