@import '~src/assets/partials/variables';

.wrapper-message__close {
  color: $default-color;
  margin-top: 7px;
}

.wrapper-message--success {
  background: $bg-alert-success;
  color: $alert-success-color;
}

.wrapper-message--error {
  background: $bg-alert-danger;
  color: $alert-danger-color;
}
