<section class="exchange-history content-row">
  <div class="page-title">
    <h2>Exchange history</h2>
  </div>

  <mat-form-field class="exchange-history__select-duration">
    <mat-select placeholder="Duration" [(ngModel)]="selectedDay" (selectionChange)="getExchangeHistory()">
      <mat-option *ngFor="let day of listDays" [value]="day.value">
        {{ day.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
      <div class="exchange-history__table mat-elevation-z8">
        <table mat-table [dataSource]="listHistory">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let item"> {{ item.timestamp | date:'M/d/yy' }} </td>
          </ng-container>

          <ng-container matColumnDef="exchange-rate">
            <th mat-header-cell *matHeaderCellDef> Exchange date </th>
            <td mat-cell *matCellDef="let item"> {{ item.rate | number }} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsExchange; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsExchange;"></tr>
        </table>
      </div>
    </div>

    <div fxFlex="50%">
      <mat-table [dataSource]="listStatistic">
        <ng-container class="history__row" matColumnDef="statistics">
          <mat-header-cell *matHeaderCellDef> Statistics </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.name }} </mat-cell>
        </ng-container>

        <ng-container class="history__row" matColumnDef="rate">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.value | number }} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumnsStatistics"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsStatistics;"></mat-row>
      </mat-table>
    </div>
  </div>
</section>
