@import '~src/assets/partials/variables';

.exchange-history {
  border-top: 1px solid $light-color;
  margin: 0 30px;

  .page-title {
    margin-top: 20px;

    h2 {
      font-size: 25px;
    }
  }

  &__table {
    height: 392px;
    overflow: auto;

    table {
      width: 100%;
    }
  }
}
