@import '~src/assets/partials/variables';

.convert {
  margin-top: 40px;
  padding: 0 16px;

  &__form {
    margin-top: 30px;

    &__currency {
      margin: 0 20px;
      width: 325px;
    }

    &__toggle {
      color: $primary-color;
      min-width: 40px;
      padding: 0;
    }
  }
}

.converted {
  color: $default-color;
  margin-top: 30px;
  text-align: center;

  &__amount {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 25px;

    &__highlight {
      color: $accent-color;
      font-weight: 500;
    }
  }

  p {
    color: $table-header-color;
    margin: 3px;
  }
}
