<section class="convert content-row">
  <div class="page-title">
    <h2>I want to convert</h2>
  </div>

  <form class="convert__form" [formGroup]="converterForm" (ngSubmit)="checkCurrency(); converter();">
    <mat-form-field class="convert__form__amount">
      <input matInput currencyMask [options]="{ align: 'left', prefix: '', thousands: '.', decimal: ',' }" formControlName="amount" placeholder="Amount">
      <mat-error *ngIf="converterForm.hasError('amount') && !converterForm.hasError('required')">
        Number Only!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="convert__form__currency">
      <input matInput formControlName="from" appUppercase placeholder="From" maxlength="3">
      <mat-error *ngIf="converterForm.get('from').invalid">
        Currency Invalid!
      </mat-error>
    </mat-form-field>

    <button mat-raised-button class="convert__form__toggle" (click)="toggleCurrency(); false;">
      <mat-icon>compare_arrows</mat-icon>
    </button>

    <mat-form-field class="convert__form__currency">
      <input matInput formControlName="to" appUppercase placeholder="To" maxlength="3">
      <mat-error *ngIf="converterForm.get('to').invalid">
        Currency Invalid!
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button class="convert__form__convert button-primary">Converter</button>
  </form>
</section>

<section class="converted content-row" *ngIf="currencyConverted.total">
  <div class="converted__amount">
    {{ currencyConverted.amount | number }} {{ currencyConverted.from.currency }} = 
    <span class="converted__amount__highlight">{{ currencyConverted.total | number }} {{ currencyConverted.to.currency }}</span>
  </div>
  
  <p>1 {{ currencyConverted.from.currency }} = {{ (currencyConverted.from.rate / currencyConverted.to.rate) | number }} {{ currencyConverted.to.currency }}</p>
  <p>1 {{ currencyConverted.to.currency }} = {{ (currencyConverted.to.rate / currencyConverted.from.rate) | number }} {{ currencyConverted.from.currency }}</p>
</section>

<app-exchange-history *ngIf="currencyConverted.total" [currentCurrency]="currencyConverted"></app-exchange-history>